version: '3.8'

services:
  mysql:
    image: mysql:5.7
    container_name: my-mysql
    restart: always
    env_file:
    - .env
    environment:
      MYSQL_ROOT_PASSWORD: ${DB_PASSWORD}
      MYSQL_DATABASE: ${DB_NAME}
      MYSQL_USER: ${DB_USER}
      MYSQL_PASSWORD: ${DB_PASSWORD}
      LANG: C.UTF-8
    # ports:
    #   - "3309:3306"
    volumes:
       - mysql_data_orders:/var/lib/mysql
       - ./db/init.sql:/docker-entrypoint-initdb.d/init.sql
    command: >
      --character-set-server=utf8mb4
      --collation-server=utf8mb4_unicode_ci
      --init-connect="SET NAMES utf8mb4"
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      interval: 5s
      timeout: 5s
      retries: 10
    mem_limit: 512m
    cpus: 1.0
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "3"

  app:
    build: 
      context: .
      dockerfile: Dockerfile
    container_name: orders_products
    ports:
      - "3003:3000"
    depends_on:
      mysql:
        condition: service_healthy
    restart: always
    working_dir: /app/backend
    env_file:
      - .env
    environment:
      DB_HOST: mysql 
      DB_PORT: 3306 
    volumes:
      - ./backend/src/uploads:/app/backend/src/uploads
    mem_limit: 512m
    cpus: 1.0
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "3"

volumes:
  mysql_data_orders:
